/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

.sidebar {
  background-color: fuchsia;
  width: 25%;
}

.main-content {
  background-color: lightblue;
  width: 75%;
}

.flex {
  display: flex;
  /* debug */
  height: 600px;
}

/* HEADER */
.header {
  height: 80px;
  background-color: orange;
}

/* FOOTER */
.footer {
  /* debug */
  height: 100px;
  background-color: darkblue;
}
